body {
  font-family: "aktiv-grotesk", sans-serif;
}

a {
  color: #61c250;
  text-decoration: none;
}

a:hover {
  color: #3a8c2c;
  text-decoration: underline;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

hr:after {
  content: "";
  display: table;
  clear: both;
}

.transparent {
  opacity: 0;
}

.content-wrapper {
  margin: 0 -15px;
  min-width: 620px;
}

.header {
  padding: 10px 0;
  background: #4e4e4e;
}

.header .is-logo {
  float: right;
}

.header .title {
  margin: 0;
  margin-top: 5px;
  font-size: 1.5em;
  color: #FFFFFF;
  font-weight: bold;
}

.header .logo:hover {
  text-decoration: none;
}

.header .input-group {
  padding-top: 5px;
  float: left;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  overflow: hidden;
}

.header .input-group #q {
  border: 0;
  height: 100%;
}

.header .input-group #q:focus {
  outline: none;
  box-shadow: inset 0 0 0 1px #61c250;
}

.header .input-group .input-group-btn button {
  height: 100%;
  padding: 0 20px;
  border: 0;
  background: #61c250;
}

.input-group-btn{
  font-size: 1em;
}

aside {
  // max-height: 670px;
  //border-right: 3px solid #e0e0e0;
  overflow: hidden;
}

@media (max-width: 768px){
  border-right: none;
}

aside .facet-category-title {
  font-size: 1.5em;
  padding-top: 15px;
  font-weight: bold;
  color: #808080;
}
aside .facet-category-title:first-child{
  padding-top: 0;
  margin-top: 14px;
  color: inherit;
}
aside .facet-wrapper {
  padding-bottom: 12px;
  border-bottom: solid 1px #EEE;
  margin-bottom: 12px;
  font-size: .87em;
}

aside .facet {
  margin-bottom: 16px;
}

aside .facet-title {
  font-weight: bold;
  margin: 4px 0;
}

aside .facet-item,
aside a {
  color: #000000;
}

aside .facet-item:hover,
aside a:hover {
  color: #B32500;
  text-decoration: none;
}

aside .facet-item.active,
aside a.active {
  font-weight: bold;
}

aside .facet-item input,
aside a input {
  margin-right: 4px;
}

aside .facet-name {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}

aside .facet-count {
  margin-left: 4px;
  color: #888;
  font-weight: normal;
}

aside .ais-refinement-list--count {
  font-weight: 100;
}

aside .ais-price-ranges--currency {
  display: inline-block;
  margin-right: 4px;
}

aside .ais-price-ranges--input {
  display: inline-block;
  width: 50px;
  border-radius: 2px;
  border: solid 1px #888;
  font-weight: normal;
}

aside .ais-price-ranges--button {
  display: block;
  float: right;
  width: 22px;
  height: 22px;
  padding: 0;
  margin-left: 4px;
  font-size: 10px;
  line-height: 20px;
  border: solid 1px #888;
  border-radius: 50%;
  text-align: center;
  background-color: #EEE;
}

aside .ais-price-ranges--button:hover {
  color: #0063C3;
  background-color: #FFFFFF;
}

aside .ais-price-ranges--button:focus {
  outline: none;
  box-shadow: inset 0 0 0 1px #FFBE61;
}

.results-wrapper {
  padding: 70px 10px 10px 240px;
}

#results-topbar {
  display: block;
  width: 100%;
  line-height: 22px;
  padding: 1em;
}

#results-topbar:after {
  content: "";
  display: table;
  clear: both;
}

#results-topbar .sort-by {
  float: right;
}

#results-topbar label {
  font-weight: normal;
  font-size: .8em;
}

#results-topbar #sort-by-selector {
  display: inline-block;
}

.results-topbar .title{
  margin-top: 0;
  font-weight: bold;
  font-size: 1.5em;
}

#clear-all {
  display: block !important;
  margin-bottom: 16px;
  margin-top: 16px;
}

#clear-all .btn {
  font-size: 13px;
}

#stats {
  padding-right: 10px;
  font-size: .8em;
}

/**
 *
 * Hit Template
 *
 */


.hit {
  padding: 1em;
  margin-bottom: 10px;
  border-bottom: solid 1px #EEE;
  border: solid 1px #EEE;
  box-shadow: 0 0 3px #f6f6f6;
  position: relative;
}

.coach-picture {
  width: 120px;
  height: 120px;
  background-size: 100%;
  background-position: center;
  background-color: #ececec;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1em;
}

.coach-full-bio-link{
  text-align: center;
}

.coach-bio-core{
  margin-bottom: 1em;
}

.coach-bio-core--packages{
  text-align: center;
}

.coach-fullname {
  font-weight: bold;
  margin: 4px 0;
}

.coach-title {
  color: #000000;
  display: block;
}

.coach-location {
  color: #929292;
  display: block;
}

.coach-location--packages{
  margin-bottom: 1em;
}

.coach-reviews-desc{
  margin-top: .5em;
}

@media (min-width:768px){
  .coach-reviews-desc{
    margin-top: 0;
    text-align: right;
  }
}

.coach-reviews-desc--packages{
  text-align: inherit;
}

.coach-reviews-stars{
  width: 92px;
  height: 15px;
  background-image: url(review-stars-default.png);
  background-size: 92px 15px;
  display: inline-block;
  position: relative;
}

.coach-reviews-stars-average{
  width: 92px;
  height: 15px;
  background-image: url(review-stars.png);
  background-size: 92px 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
}


.coach-reviews-numbers{
  display: block;
}

.coach-reviews-count{
  color: #929292;
}

.coach-bio-summary{
  margin-bottom: .5em;
}

.coach-bio-summary a{
  white-space: nowrap;
}

.coach-matched-terms-desc{
  margin-bottom: .5em;
  text-transform: uppercase;

}

.coach-matched-terms-label{
    letter-spacing: 1px;
    border-right: 1px solid #000;
    padding-right: .5em;
}

.coach-packages-desc{
  border-top: 2px solid #e0e0e0;
  padding-top: .5em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.coach-packages-list-desc{
  border: 2px solid #e0e0e0;
}

.coach-packages-list-header{
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: .5em;
  border-bottom: 2px solid #e0e0e0;
}

.coach-packages-list-listing{
  padding: .5em;
}

.coach-packages-list-item{
  padding-bottom: .5em;
  margin-bottom: .5em;
  border-bottom: 2px solid #e0e0e0;
}

.coach-packages-list-item:last-child{
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}

.coach-packages-title{
  font-family: "adobe-caslon-pro";
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

.hit em {
  color: #000000;
  font-style: normal;
  background-color: #FFBE61;
}

#pagination {
  margin-top: 10px;
  background-color: #EEE;
  font-size: 1.2em;
  line-height: 3em;
  text-align: center;
}

#pagination:after {
  content: "";
  display: table;
  clear: both;
}

#pagination .ais-pagination--item__active a {
  color: #000000;
  font-weight: bold;
}

#pagination .ais-pagination--item__disabled {
  visibility: visible;
}

#pagination .ais-pagination--item__disabled a {
  color: #bbbbbb;
}

#pagination .ais-pagination--item__disabled a:hover {
  cursor: default;
  text-decoration: none;
}

#pagination ul {
  margin: 0;
  padding: 0;
}

#pagination li {
  padding: 0 8px;
}

#pagination .fa {
  position: relative;
  top: 5px;
}

.thank-you {
  text-align: center;
  font-size: .8em;
  padding: 10px;
}

.checkbox label{
  font-weight: 700;
}

.drop-down{
  float: right;
}

.label > div{
  display: inline-block;
}

.ais-current-refined-values--item{
  display: inline-block;
  margin-right: .5em;
}

/**
 *
 * Bootstrap overwrites
 *
 */

.btn-primary {
    color: #fff;
    background-color: #61c250;
    border-color: #61c250;
}

.btn-primary:hover{
  background-color: #3a8c2c;
  border-color: #3a8c2c;
}

.label{
  padding: .4em .6em .3em .6em;
  vertical-align: middle;
  border-radius: .75em;
}

small{
  font-size: 11px;
}
// .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
//     padding-right: 5px;
//     padding-left: 5px;
// }

// .row {
//     margin-right: -5px;
//     margin-left: -5px;
// }