body {
  font-family: Verdana, sans-serif;
}

a {
  color: #61c250;
  text-decoration: none;
}

a:hover {
  color: #275937;
  text-decoration: underline;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

hr:after {
  content: "";
  display: table;
  clear: both;
}

.transparent {
  opacity: 0;
}

.content-wrapper {
  margin: 0 -15px;
  min-width: 620px;
}

header {
  padding: 10px;
  background: #4e4e4e;
}

header .is-logo {
  float: right;
}

header .title {
  margin: 0;
  margin-top: 5px;
  font-size: 1.5em;
  color: #FFFFFF;
  font-weight: bold;
}

@media screen and (max-width: )

header .logo:hover {
  text-decoration: none;
}

header .input-group {
  padding-top: 5px;
  float: left;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  overflow: hidden;
}

header .input-group #q {
  border: 0;
  height: 100%;
}

header .input-group #q:focus {
  outline: none;
  box-shadow: inset 0 0 0 1px #61c250;
}

header .input-group .input-group-btn button {
  height: 100%;
  padding: 0 20px;
  border: 0;
  background: #61c250;
  border-radius: 5px;
}

.input-group-btn{
  font-size: 1em;
}

aside {
  // max-height: 670px;
  border-right: 3px solid #e0e0e0;
  overflow: hidden;
}

@media (max-width: 768px){
  border-right: none;
}

aside .facet-category-title {
  font-size: 1.5em;
  padding-top: 15px;
  font-weight: bold;
  color: #808080;
}
aside .facet-category-title:first-child{
  padding-top: 0;
  margin-top: 14px;
  color: inherit;
}
aside .facet-wrapper {
  padding-bottom: 12px;
  border-bottom: solid 1px #EEE;
  margin-bottom: 12px;
  font-size: .87em;
}

aside .facet {
  margin-bottom: 16px;
}

aside .facet-title {
  font-weight: bold;
  margin: 4px 0;
}

aside .facet-item,
aside a {
  color: #000000;
}

aside .facet-item:hover,
aside a:hover {
  color: #B32500;
  text-decoration: none;
}

aside .facet-item.active,
aside a.active {
  font-weight: bold;
}

aside .facet-item input,
aside a input {
  margin-right: 4px;
}

aside .facet-name {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}

aside .facet-count {
  margin-left: 4px;
  color: #888;
  font-weight: normal;
}

aside .ais-refinement-list--count {
  font-weight: 100;
}

aside .ais-price-ranges--currency {
  display: inline-block;
  margin-right: 4px;
}

aside .ais-price-ranges--input {
  display: inline-block;
  width: 50px;
  border-radius: 2px;
  border: solid 1px #888;
  font-weight: normal;
}

aside .ais-price-ranges--button {
  display: block;
  float: right;
  width: 22px;
  height: 22px;
  padding: 0;
  margin-left: 4px;
  font-size: 10px;
  line-height: 20px;
  border: solid 1px #888;
  border-radius: 50%;
  text-align: center;
  background-color: #EEE;
}

aside .ais-price-ranges--button:hover {
  color: #0063C3;
  background-color: #FFFFFF;
}

aside .ais-price-ranges--button:focus {
  outline: none;
  box-shadow: inset 0 0 0 1px #FFBE61;
}

.results-wrapper {
  padding: 70px 10px 10px 240px;
}

#results-topbar {
  display: block;
  width: 100%;
  line-height: 22px;
  padding: 1em;
}

#results-topbar:after {
  content: "";
  display: table;
  clear: both;
}

#results-topbar .sort-by {
  float: right;
}

#results-topbar label {
  font-weight: normal;
  font-size: .8em;
}

#results-topbar #sort-by-selector {
  display: inline-block;
}

.results-topbar .title{
  margin-top: 0;
  font-weight: bold;
  font-size: 1.5em;
}

#clear-all {
  display: block !important;
  margin-bottom: 16px;
  margin-top: 16px;
}

#clear-all .btn {
  font-size: 13px;
}

#stats {
  padding-right: 10px;
  font-size: .8em;
}

.hit {
  height: 165px;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: solid 1px #EEE;
  border: solid 1px #EEE;
  box-shadow: 0 0 3px #f6f6f6;
  position: relative;
}

.hit .coach-picture {
  width: 75px;
  height: 75px;
  background-size: 100%;
  background-position: center;
  background-color: #ececec;
  border-radius: 50%;
  margin: 0 auto;
}

.hit .coach-picture img {
  max-width: 50px;
}

.hit .coach-desc {

}

.hit .coach-fullname {
  font-weight: bold;
  color: #000000;
  margin: 4px 0;
  text-align: center;
  // min-width: 120px;
  // min-height: 34px;
}

.hit .coach-title {
  color: #000000;
  font-size: .7em;
  margin: 0 0 8px;
  // min-width: 120px;
  // min-height: 26px;
}

.hit .coach-location {
  color: #b9b9b9;
  font-size: .75em;
  margin: 0 0 8px;
  // min-width: 120px;
  // min-height: 30px;
}


/*.hit .coach-description {
    font-size: .8em;
    margin: 0 0 10px;
    color: #a2a2a2; }
  .hit .coach-date {
    margin-bottom: 10px; }
  /*.hit .coach-title {
    font-size: 1.1em;
    font-weight: bold;
    color: #000000;
    float: right;
    letter-spacing: -1px; }*/


.hit em {
  color: #000000;
  font-style: normal;
  background-color: #FFBE61;
}

#pagination {
  margin-top: 10px;
  background-color: #EEE;
  font-size: 1.2em;
  line-height: 3em;
  text-align: center;
}

#pagination:after {
  content: "";
  display: table;
  clear: both;
}

#pagination .ais-pagination--item__active a {
  color: #000000;
  font-weight: bold;
}

#pagination .ais-pagination--item__disabled {
  visibility: visible;
}

#pagination .ais-pagination--item__disabled a {
  color: #bbbbbb;
}

#pagination .ais-pagination--item__disabled a:hover {
  cursor: default;
  text-decoration: none;
}

#pagination ul {
  margin: 0;
  padding: 0;
}

#pagination li {
  padding: 0 8px;
}

#pagination .fa {
  position: relative;
  top: 5px;
}

.thank-you {
  text-align: center;
  font-size: .8em;
  padding: 10px;
}

.checkbox label{
  font-weight: 700;
}

.drop-down{
  float: right;
}